
body{
    background-color:rgb(225, 216, 203);
   
}
.navbar{
    display:flex;
    position:sticky;
    z-index:3;
    top:0;
    justify-content:space-around;
    border:1px solid rgb(138, 137, 137);
    top:0px;
    background-color:rgb(126, 126, 166);
    align-items:center;
    height:70px

}
.nav-links1{
    text-decoration:none;
    color:black;
    font-family:Droid Sans Mono;
}
.logo1{
    display:flex;
    justify-content:start;
}

.logo{
    width:100px
}

.search{
    width:700px;
    height:38px;
    display:flex;
    border-radius:10px;
    border-color:20px solid black;
    /* justify-content:center; */
    align-items:center;
}
.hero-img{
    width:1500px
}
.hero-section{
    width:1500px;
    background-color:rgb(225, 216, 203)
}
.boxes {
    display:flex;
    justify-content:space-around;
}
.box{
    width:400px;
    height:500px;
    margin:10px;
    margin-top:-385px;
    background-color:rgb(255, 255, 255); 
    text-align:left;
    position: relative;
    z-index:2

    
}
.boxi{
    width:400px;
    height:500px;
    margin:10px;
    background-color:rgb(255, 255, 255); 
    text-align:left;
}
.s_box{
    width:1500px;
    height:300px;
    background-color:rgb(255, 255, 255);
    
}


.i{
    width:150px;
    height:120px;
    margin-top:30px;
}
.ii{
    width:250px;
    height:200px;
}
.j{   
    text-decoration:none; 
    color:black;
}
.aaesthetics{

    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
}
.appliances{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}