
body{
    background-color:rgb(231, 246, 245);
    font-family: 'Segoe UI', Arial, sans-serif;
   
}
.navbar{
    display:flex;
    position:sticky;
    z-index:3;
    top:0;
    justify-content:space-around;
    border:1px solid rgb(138, 137, 137);
    top:0px;
    background-color:rgb(126, 126, 166);
    align-items:center;
    height:70px

}
.nav-links1{
    text-decoration:none;
    color:black;
    font-family:Droid Sans Mono;
}
.logo1{
    display:flex;
    justify-content:start;
}

.logo{
    width:100px
}

.search{
    width:700px;
    height:38px;
    display:flex;
    border-radius:10px;
    border-color:20px solid black;
    /* justify-content:center; */
    align-items:center;
}
.hero-img{
    width:1500px
}
.hero-section{
    width:1500px;
    background-color:rgb(225, 216, 203)
}
.boxes {
    display:flex;
    justify-content:space-around;
}
.box{
    width:400px;
    height:500px;
    margin:10px;
    margin-top:-385px;
    background-color:rgb(255, 255, 255); 
    text-align:left;
    position: relative;
    z-index:2

    
}
.boxi{
    width:400px;
    height:500px;
    margin:10px;
    background-color:rgb(255, 255, 255); 
    text-align:left;
}
.s_box{
    width:1500px;
    height:300px;
    background-color:rgb(255, 255, 255);
    
}


.i{
    width:150px;
    height:120px;
    margin-top:30px;
}
.ii{
    width:250px;
    height:200px;
}
.j{   
    text-decoration:none; 
    color:black;
}
.aaesthetics{

    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
}
.appliances{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

/* ..................CARTTTTTTTTTTT SECTION.......................... */

.cart-page{
    margin:60px;
    padding-bottom: 120px;
}
.row1{
    width:1000px;
    /* display:flex; */
    margin:50px;
    /* align-items:top; */
    
    border:1px solid black;
    padding:20px 20px;
    background-color:rgb(255, 255, 255);

}
.row1:hover {
  box-shadow: 0 8px 24px rgba(34,43,69,.15), 0 1.5px 3px rgba(34,43,69,.04);
}
.i_cart{
    width:150px;
    
}
.product-details{
    text-align:top;
    width:400px;  
}

.rrow1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}
.Qty{
    padding-left:40px;
    margin-top:10px
}
.org_price{
    text-decoration:line-through;
    color:grey;
    padding-right:5px;
}
.d_price{
    /* font-weight:bold; */
    font-size:20px;
    padding-right:5px;
}
.discount{
    color:green;
    font-weight:bold;
}

.total{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: white  ;
    /* color:white; */
    width: 400px;
    margin: 0 430px;
    padding: 10px;
    text-align: center;
    border:3px solid black;
    /* border-radius:50% */
}


.buy{
    background-color:rgb(157, 207, 241);
    border:none;
    border-radius:10px;
    width:200px;
    height:30px;
    /* margin-top:12px; */
    margin:10px auto;
    text-align:center;
    font-size:15px;

    padding-bottom:10px;
    transition: all 0.1s ease;
    
    
    cursor:pointer;
}
.buy:hover{
    background-color: #1976D2; 
}
/* .........SIGN IN PAGE...... */

.i_sign{
    display:block;
    width:150px;
    height:150px;
    margin:0px auto;
}
.sign_block{
    width:450px;
    height:600px;
    background-color:white;
    margin:0px auto;
    
    
    
}
.banner{
    margin-top:10px;
    width:450px;
    height:150px
}
#phone{
    display:block;
    margin:0px auto;
    width:320px;
    height:25px;
    border-radius:0%;
    margin-top:30px;
    padding:4px;
    text-align:center;
    font-size:15px

}
#terms{
    margin-top:30px;
    margin-left:30px

}
.terms{
    font-size:15px
    
}
#continue_sign{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 205, 241);
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: rgb(248, 248, 248);
    font-weight: 600;
    text-decoration: none;
}

.c-btn{
    margin-top:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
#continue_sign:hover{
    cursor: pointer;
    background-color: #1976D2;
    text-decoration: none;
}

/* ...............DELIVERY ADRESS PAGE.......... */






.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-wrapper {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 32px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 32px;
    display: block;
}

.address-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.required {
    color: #ef4444;
}

input {
    padding: 10px 16px;
    font-size: 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-family: inherit;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    border-color: rgb(150, 205, 241);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

input:hover:not(:focus) {
    border-color: #9ca3af;
}

input::placeholder {
    color: #9ca3af;
}

.submit-btn {
    margin-top: 8px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(150, 205, 241);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background-color: #1d4ed8;
}



.footer-text {
    font-size: 12px;
    color: #9ca3af;
    text-align: center;
    margin-top: 24px;
}



